@model MyFirstApp.Models.Student

<h2>Add Student</h2>

<form method="post" enctype="multipart/form-data">

<label>Name</label>
<input asp-for="Name" class="form-control" />

<label>Age</label>
<input asp-for="Age" class="form-control" />

<label>Photo</label>
<input type="file" name="photo" class="form-control" />

<button class="btn btn-success mt-3">Save</button>

</form>
